---
import AboutHeroImage from '../assets/blog-placeholder-3.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Cédric Accard"
	description=""
	pubDate={new Date('October 15 1844')}
	heroImage={AboutHeroImage}
>
	<p>
	
	</p>
</Layout>
